# Generic settings
[APP]
ENVIRONMENT = PROD
DEBUG = False

#InfluxDB settings
[DATABASE]
DB_HOST = 127.0.0.1
DB_PORT = 8086
DB_USERNAME = username
DB_PASSWORD = password
DB_DATABASE = monitor
#Time before retrying a failed data upload.
DB_RETRY_INVERVAL = 60


#Speedtest settings
[SPEEDTEST]
# Time between tests (in seconds).
TEST_INTERVAL = 1800
#Time before retrying a failed Speedtest (in seconds).
TEST_FAIL_INTERVAL = 60
TEST_SERVER_ID = 41817